<!-- BANNER -->

<div class="banner">
    <div class="imagen img1">
        <div class="carousel-caption">
            <p class="name1">Panadería y Repostería</p>
            <p class="name2">Las Delicias</p>
        </div>
    </div>
</div>