<!-- BANNER -->

<div class="banner">
    <div class="imagen img1">
        <div class="carousel-caption">

            <div class="center-outer">
                <div class="center-inner">

                    <div class="bubbles">
                        <h1>Las Delicias</h1>
                        <p class="name1">Panadería y Repostería</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/scripts.js"></script>