<!-- FOOTER -->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
        <a href="/" class="textFooter">Las Delicias</a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook textFooter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram textFooter"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube textFooter"></i></a>
    </div>
</footer>