<div class="productsSection">
    <div class="container text-center my-3">
        <h2 class="titleSection">Productos relacionados</h2>
        <div class="row mx-auto my-auto">
            <div id="recipeProducts1" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                </div>
                <a class="carousel-control-prev" href="#recipeProducts1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#recipeProducts1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>

            </div>
            <div id="recipeProducts2" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                </div>
                <a class="carousel-control-prev" href="#recipeProducts2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#recipeProducts2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>

            </div>
        </div>
    </div>
</div>