<!-- MODAL PRODUCT LIST-->
<div class="container">
    <div class="modal fade" id="modalProductlist">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Resultado de la búsqueda</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body productListBody">
                    <div class="row">
                        <% for (var i = 0; i < (products.length); i++) { if(i == 0) { active = "active" }else { active = ""}%>
                            <% id = products[i].idProduct;%>
                                <div class="col-3 productBlock">
                                    <a class="link" href="/product/<%=id%>">
                                        <p class="categoryName">
                                            <%= products[i].name %> <br> $
                                                <%= products[i].price %>
                                        </p>
                                        <hr>
                                        <img class="productimg" src="images/<%=products[i].product_Image%>">
                                    </a>
                                    <hr>
                                </div>
                                <% } %>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btnClose btn" data-dismiss="modal"><i class="fas fa-arrow-left"></i> Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>