hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.titleSection {
    padding-bottom: 2rem;
    font-size: 3vw;
}


/* -NAVBAR- */

.btnSearch {
    background-color: rgb(223, 223, 223);
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}

.btnSearch:hover {
    background-color: #e9cf85;
}

.liMenu {
    font-size: 1.1rem;
}

.aMenu {
    padding-top: 0.25rem;
}

.liMenu:hover {
    color: #e9cf85 !important;
}


/* -BANNER- */

.banner {
    width: 100%;
    height: 40vh;
    min-height: 30vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name1 {
    font-size: 2.5vw;
}

.name2 {
    font-size: 5vw;
}

.imagen {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img1 {
    background-image: url("../img/banner1.png");
}


/* -MODAL- */

.btnClose {
    background-color: #e9cf85;
    border-color: #e9cf85;
    color: black
}

.btnClose:hover {
    background-color: rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    color: fff
}


/* -CATEGORIAS- */

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    padding: 1rem
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-color: rgba(119, 7, 7, 0.849);
    padding: 1.5rem
}

.category {
    position: relative;
    display: inline-block;
    text-align: center;
}


/* -PRODUCTS- */

.productsSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e9ce858e
}

.productimg {
    border: rgba(0, 0, 0, 0.801);
    border-radius: 50px;
    width: 100%;
}


/* -FOOTER- */

footer {
    background-color: #333;
    color: white;
}

.textFooter {
    color: #fff
}

.textFooter:hover {
    color: #e9cf85
}


/* ------------------------------------------------------------ */

.categorySection {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e9ce85c9;
    width: 100%;
}

.categoryblock {
    background-color: #e9ce85e0;
}

.colCategoria {
    margin: 0rem 0.5rem;
    min-width: 20rem;
    max-width: 20rem;
    /*col-xs-12 col-sm-12 col-md-3 col-lg-3*/
}

.categoryimg {
    border: rgba(0, 0, 0, 0.801);
    border-radius: 50px;
    width: 100%;
}

.categoryblock:hover {
    cursor: pointer;
    border: solid #a84a13c9;
}

.categoryName {
    font-size: 1.5vw;
    color: black;
    margin: 0.2rem;
}

.categoryDescription {
    font-size: 1.2vw;
    color: black;
    margin: 0.2rem;
}