<div class="cartSections">
<row>
    <div class="container text-left my-3">
	<h3 class="optioncart">1.Carrito de compras</h3>
	<div class="container text-right my-3">
	<h3 class="optioncart">2.Detalles de envio</h3>
</row>