<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#"> <img src="/img/iconGeneral.png" alt=""> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <form class="form-inline formSearch" action="#">
                    <input class="form-control mr-sm-2" type="text" placeholder="Escribe aquí...">
                    <button id="btnSearch" type="button" class="btn btnSearch" data-toggle="modal" data-target="#modalSearch"><i class="fas fa-search"></i> Buscar</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active aMenu">
                    <a class="liMenu nav-link" href="#"><i class="fas fa-home"></i> Principal<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item aMenu">
                    <a class="liMenu nav-link" href="#"><i class="fas fa-users"></i> Nosotros </a>
                </li>
                <li class="nav-item aMenu">
                    <a class="liMenu nav-link" href="#"><i class="fas fa-font">+</i></a>
                </li>
                <li class="nav-item aMenu">
                    <a class="liMenu nav-link" href="#"><i class="fas fa-font fa-xs">-</i></a>
                </li>
                <li id="cart">
                    <a class="liMenu nav-link" href="/cart">
                        <button id="" type="button" class="btn btnSearch"><i class="fas fa-shopping-cart"></i> Carrito</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>